*{
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-container {
    display: inline-block;
    overflow: hidden;
}

.letter {
    font-size: 3rem;
    display: inline-block;
    transform: translateY(100%);
    white-space: nowrap;
}

#startButton{
    display: flex;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: none;
    margin: 150px auto;
    border-radius: 15px;
background-color: blueviolet;
}

@keyframes letterAnimation {
    to {
        transform: translateY(0);
    }
}
